@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,200;1,300&display=swap');

*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif
 
}

body
{
 background: rgb(228, 243, 249);
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 }

header
{
    background-color: #fff;
    color: rgb(0, 118, 202);
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 0; 
    min-width: 598px;   
}

.header
{
    font-size: 4em;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(0, 118, 202);
}
.header span
{
    font-size: 0.8em;
    text-transform: uppercase;
}

.job
{
    font-size: 2em;
    margin-top: 20px;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.5;  
    color: rgb(0, 118, 202);
    justify-self: start;
}

.container
{
 position: relative;
 background: #fff; 
 margin-left: 50px;
 margin-right: 50px;
 margin-bottom: 50px;
 display: grid;
 grid-template-columns: 1fr 2fr; 
 box-shadow: 0 35px 55px rgba(0, 0, 0, 0.2);
 min-width: 598px;
 }

 .container .about p
{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    color: #fff;
}
 .container .about h2
{
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}

.container .left-side
{ 
 position: relative;
 background: rgb(0, 118, 202);
 padding: 40px;
 margin-left: 10px; 
 margin-bottom: 10px;
 margin-right: 10px;
}

/* .container .left-side .skills .line11
{grid-area:one}
.container .left-side .skills .line12
{grid-area:two}
.container .left-side .skills .line13
{grid-area:three}
.container .left-side .skills .line21
{grid-area:four}
.container .left-side .skills .line22
{grid-area:five}
.container .left-side .skills .line23
{grid-area:six}
.container .left-side .skills .line31
{grid-area:seven}

.container .left-side .skills 
{
    display: grid;
    grid-template-areas:
    'one two three four' 
    'five six seven'; 
} */

.container .left-side .skills img
{
    width: 60px;

}

.profile-text
{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    color:#fff;

}

.profile-text .image-box
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border-width: 10px;
    border-color: #fff;
    overflow: hidden; 
    border-style: solid;
}

.profile-text .image-box img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-text h2
{
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 30px;
    margin-bottom: 10px;
}

.skills
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}
.skills2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%
    
}
.skills2 img
{
    width: 60px;
    padding-top: 10px;
}

.skills h2
{
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    line-height: 1.4;
}

.language .text
{
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 300;
    line-height: 2;
    user-select: none;
}
.language span:hover
{
    color: rgb(179, 233, 248);
}
.language .percent
{
     position:relative;
     width: 100%;
     height: 6px;
     background: #fff;
     display: block;
     margin-top: 5px;
}
.language .percent div
{
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    background: rgb(1, 192, 244);
}

.container .right-side
{
 position: relative;
 background: rgb(1, 192, 244);
 padding: 40px; 
 margin-right: 10px;
 margin-bottom: 10px;
 }

 /* .experience .about
 {
     font-size: 1.5em;
     color:rgb(216, 236, 251);
     margin-bottom: 50px;
  } */

 .experience h2
 {
     text-transform: uppercase;
     color: #fff;
     font-size: 2em;
 }

 .experience p
 {
    color: #fff;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 300;
    line-height: 1.5;
 }

 .experience .jobs
 {
     display: flex;
     flex-direction: row;
     margin: 20px 0;
     font-size: 1.3em;
     color:#fff;
 }
 .experience .jobs .year-company
 {
     min-width: 260px;
 }
 .experience .jobs .year-company a:hover
 {
     color: rgb(179, 233, 248);
 }
 .experience .jobs .year-company h3
 {
     text-transform: uppercase;
     font-weight: 600;
 }
 .year-company .company:hover
 {
    color: rgb(179, 233, 248);
 }
 .year-company .company
 {
     color: rgb(226, 243, 248);
 }
 .experience .jobs .year-company a
 {
    color: rgb(226, 243, 248);
}

 .experience .jobs .text h3
 {
     text-transform: uppercase;
 }

 .experience .edu 
 {
    display: flex;
     flex-direction: row;
     margin: 20px 0;
     font-size: 1.2em;
     color:#fff;  
 }

 .experience .edu .year
 {
     min-width: 260px;
 }

 .experience .edu .text
{
    display: flex;
     flex-direction: row;
}

 .experience .edu .text span
 {
     color: rgb(216, 236, 251);
 }

 .experience .edu .text img
 {
     width: 20px;
     margin-left: 10px;
 }

.contact h2
{
    color: rgb(0, 118, 202);
    font-size: 2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4; 
}

.contact-icons
{
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom:5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.linked img
{
    width: 60px;  
}
.linked img:hover
{
    transform: scale(2.1)
}

.gmail img
{
    width: 60px;  
}

.gmail img:hover
{
    transform:scale(2.1)
}

.discord img
{
    width: 60px;  
}
.discord img:hover
{
    transform: scale(2.1)
}

.art img
{
    width: 60px; 
}
.art img:hover
{
    transform: scale(2.1);
}

.hobbies p
{
    color: rgb(0, 118, 202);;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-weight: 300;
    line-height: 1.5;
}
.hobbies h2
{   color: rgb(0, 118, 202);
    font-size: 2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4; 
}


.downloads
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vids
{
    background-color: #fff;
    color: rgb(0, 118, 202);
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
   
}
.vids2
{
    background-color: #fff;
    color: rgb(0, 118, 202);
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-inline-end: 10px;
   
}
.vids2 a:hover
{
    color: rgb(216, 236, 251);
}
.vids2 h3:hover
{
    color: rgb(216, 236, 251); 
}
.vids2 h3
{
    text-transform: uppercase;
    margin-bottom: 30px;
    background-color: rgb(0, 118, 202);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.vids a
{
    justify-self: center;
    color: rgb(0, 118, 202);
    text-decoration: none;
}
.vids a:hover
{
    color: rgb(216, 236, 251);
}
.vids h3:hover
{
    color: rgb(216, 236, 251); 
}
.vids h3
{
    text-transform: uppercase;
    margin-bottom: 30px;
    background-color: rgb(0, 118, 202);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.CV
{
    margin-left: auto;
    margin-right: auto;
    margin-inline-start: 10px;
}
.CV h3
{
    text-transform: uppercase;
    margin-bottom: 30px;
    background-color: rgb(0, 118, 202);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}   
.CV a:hover 
{
    color: rgb(216, 236, 251);
    align-self: baseline;
}
.CV a
{
    text-decoration: none;
}
.CV h3:hover
{
    color: rgb(216, 236, 251);
}


@media (max-width: 1135px)
{
    .container
    {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom:10px;
        grid-template-columns: repeat(1,1fr);
    }

    .container .right-side
    {
        margin-left: 10px;
    }
    header
    {
        margin-left: 10px;
        margin-right: 10px;
        margin-top:10px;
    }
   
    
}

@media (max-width: 600px)
{
    .experience .jobs
    {
        flex-direction: column;
    }

    .experience .jobs .year-company
    {
        margin-bottom: 5px;
    }

    

}    
